player-connection-mode=Listen
player-connection-guid=358537634
player-connection-debug=0
player-connection-project-name=Multiplayer Test
player-connection-ip=10.0.0.103
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=79c776b1410a497c89dab6ed9ecdbe1e
