player-connection-mode=Listen
player-connection-guid=1166795211
player-connection-debug=0
player-connection-project-name=Multiplayer Test
player-connection-ip=10.0.0.105
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=29a9e434194545ecb0feac3ef081c13b
